html,
body,

.view {
  height: 100%;
}

.carousel {
  height: 100%; }
.carousel .carousel-inner {
  height: 100%; }
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100%; }
.carousel-inner h1{
  font-size: 4rem;
  font-weight: 600;
}
.carousel-inner h4{
  font-size: 2.5rem;
  font-weight: 400;
}
.btn__slider__hover{
  font-weight: 600;
}
.btn__slider__hover:hover{
  background: white!important;
  border:2px solid #1C2331!important;
  color: #1C2331!important;
}

body.modal-open {
  overflow: visible;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.2); }
.nav-link{
  font-size: 1.25rem!important;
}
.top-nav-collapse {
  background-color: #212121; }
.header__text{
  font-size: 4.5rem;
}
html, body{
  font-family: 'Oxygen', sans-serif;
}

@media only screen and (max-width: 768px) {
  .header__text{
    font-size: 2.5rem;
  }
  .navbar {
    background-color: #212121; } }
    .bg-photo {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .bg-muted {
      background-color: #fff;
  }
  .first_section {
      padding: 160px 110px;
  }
  .second_section {
      padding: 120px 0;
  }
  .second_section_text {
      padding: 0 60px;
  }
  .font-regular {
    font-size: 1.2rem;
  }
  
  @media (max-width: 1199.98px) {
    .first_section {
        padding-left: 20px;
        padding-right: 20px;
    }
  }
  @media (max-width: 991.98px) {
  
    .bg-photo {
        min-height: 500px;
    }
  
  }
  @media (max-width: 575.98px) {
  
    .first_section {
        padding-left: 20px;
        padding-right: 20px;
    }
  }
  .main_page_card {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    min-height: 370px;
}
.info-box {
  position: absolute;
  top: 15%;
  right: 0%;
  z-index: 9999;
  padding: 20px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  font-weight: bold;
  color: #FFF;
}
.logo-background {

  width: 32px;
  height: 32px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: inline-block;

}
.dropdown .dropdown-menu.dropdown-default .dropdown-item.active, .dropdown .dropdown-menu.dropdown-default .dropdown-item:active, .dropdown .dropdown-menu.dropdown-default .dropdown-item:hover, .dropleft .dropdown-menu.dropdown-default .dropdown-item.active, .dropleft .dropdown-menu.dropdown-default .dropdown-item:active, .dropleft .dropdown-menu.dropdown-default .dropdown-item:hover, .dropright .dropdown-menu.dropdown-default .dropdown-item.active, .dropright .dropdown-menu.dropdown-default .dropdown-item:active, .dropright .dropdown-menu.dropdown-default .dropdown-item:hover, .dropup .dropdown-menu.dropdown-default .dropdown-item.active, .dropup .dropdown-menu.dropdown-default .dropdown-item:active, .dropup .dropdown-menu.dropdown-default .dropdown-item:hover {
  background-color: #4285f4!important;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  border-radius: .125rem;
}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
  } 
body {
  top: 0px !important; 
  }
  .bg-photo-card {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}