.main_page_card {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    min-height: 370px;
}
html, body{
    font-family: 'Oxygen', sans-serif;
}
.bg-photo-card {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-muted {
    background-color: #fff;
}
.first_section {
    padding: 160px 110px;
}
.second_section {
    padding: 120px 0;
}
.second_section_text {
    padding: 0 60px;
}
.font-regular {
  font-size: 1.2rem;
}

@media (max-width: 1199.98px) {
  .first_section {
      padding-left: 20px;
      padding-right: 20px;
  }
}
@media (max-width: 991.98px) {

  .bg-photo {
      min-height: 500px;
  }

}
@media (max-width: 575.98px) {

  .first_section {
      padding-left: 20px;
      padding-right: 20px;
  }
}
.navbar {
  background-color: #212121; }

.slider {
    margin-top: 98px;
}
.form-control {
    background-color: #F8F8F8;
    border: 0;
    height: 50px;
    border-radius: 0;
    padding-left: 10px;
}
.form-control:focus {
    background-color: #F8F8F8;
    border: 0;
    box-shadow: none;
}
.input-group-text {
    background-color: #F8F8F8;
    border: 0;
    border-radius: 0;
    height: 50px;
    font-size: 1.4rem;
}
.input-group-message {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: start;
    padding: .375rem .5rem;
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    text-align: center;
    white-space: nowrap;
    background-color: #F8F8F8;
    border: 0;
    border-radius: 0;
    height: 200px;
}
.special_href {
    color: #6c757d !important;
}
.special_href:hover {
    color: #6c757d !important;
}
@media (max-width: 990px) {
    .slider {
        margin-top: 68px;
    }
  }
  .info-box {
    position: absolute;
    top: 15%;
    right: 0%;
    z-index: 9999;
    padding: 20px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    font-weight: bold;
    color: #FFF;
}
.delete_photo:hover {
    background-image: url(http://cynkmal.przedprojekt.com/application/views/images/x-button.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.delete_photo img:hover {
    opacity: 0.4;
}
.cursor {
    cursor: pointer;
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: inline-block;
}

.file-field input.file-path {
    width: 100%;
    height: 36px;
    border: 0;
    margin-top: 5px;
}
.logo-background {
    width: 32px;
    height: 32px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: inline-block;
}
.gold-gradient {
    background: linear-gradient(40deg,#000,#FED300)!important;
}
.map {
      margin-top: 80px!important;
}
.dropdown .dropdown-menu.dropdown-default .dropdown-item.active, .dropdown .dropdown-menu.dropdown-default .dropdown-item:active, .dropdown .dropdown-menu.dropdown-default .dropdown-item:hover, .dropleft .dropdown-menu.dropdown-default .dropdown-item.active, .dropleft .dropdown-menu.dropdown-default .dropdown-item:active, .dropleft .dropdown-menu.dropdown-default .dropdown-item:hover, .dropright .dropdown-menu.dropdown-default .dropdown-item.active, .dropright .dropdown-menu.dropdown-default .dropdown-item:active, .dropright .dropdown-menu.dropdown-default .dropdown-item:hover, .dropup .dropdown-menu.dropdown-default .dropdown-item.active, .dropup .dropdown-menu.dropdown-default .dropdown-item:active, .dropup .dropdown-menu.dropdown-default .dropdown-item:hover {
    background-color: #4285f4!important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    border-radius: .125rem;
}
.goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
body {
    top: 0px !important; 
    }
    .books__search {
        background: #fff;
        padding: 20px 10px; }
      .books__select {
        display: block !important;
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        border: 2px solid #4c4c4c;
        color: #4c4c4c;
        background: #fff;
        transition: 0.5s;
        padding: 0 10px;
        margin-right: 18px; }
        .books__container {
            display: flex;
            /* justify-content: space-between;  */
        }
