body {
    font-family: 'Play', sans-serif;
}
.br-sideleft {
    background-color: #397BC7;
}
.br-menu-link.active {
    background-color: #397BC7;
}
.br-menu-link:hover, .br-menu-link:focus {
    color: #fff;
    background-color: #000;

}
.br-menu-sub {
    background-color: #397BC7;
}
.br-menu-link.show-sub {
    background-color: #397BC7;
}
.br-menu-sub .nav-link:hover, .br-menu-sub .nav-link:focus {
    color: #fff;
}
.br-menu-sub .nav-link:hover::before, .br-menu-sub .nav-link:focus::before {
    background-color: #fff;
}
.br-logo > a span {
    color: #4285f4
}
.user-profile-nav .icon {
    color: #212121
}
.sidebar-tabs {
    background-color: #000;
    color: white!important;
}
.sidebar-tabs .nav-link.active {
    background-color: #3E4551;
    color: #fff;
}
.tab-content > .active {
    background-color: #3E4551;
}
.sidebar-datepicker .ui-datepicker-calendar thead th {
    color: #fff;
}
.tx-info {
    color: #212121    
}
.btn-info {
    background-color: #4285f4;
    cursor: pointer;
    border-color: #4285f4;
}
.btn-info:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000!important;
}
.link:hover {
    color: #4285f4 !important;
}
.form-control:focus, .dataTables_filter input:focus {
    border-color: #4285f4;
}
button {
    cursor: pointer;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #4285f4;
}
.custom-file-control-inverse::before {
        background-color: #4285f4;  
}
.custom-file-control:lang(en)::before {
    content: "Przeglądaj";
}
.custom-file-control:lang(en):empty::after {
    content: "Wybierz plik...";
}
#alert-box {
    padding: 10px;
    color:white;
    border-radius: 3px;
    font-weight: 700;
    background-color: #4285f4;
    margin-bottom: 20px;
    display: inline-table;
}
.popover {
    z-index: 2001;
}
.more {
    cursor: pointer;
}
.bootstrap-tagsinput {
    background-color: #4285f4;
    border: 0;
    color: rgba(255, 255, 255, 0.6);
}
.bootstrap-tagsinput .label {
    background-color: #4B515D;
}
input {
    color: rgba(255, 255, 255, 0.6);
}
.btn {
    cursor: pointer;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.current:focus {
    background-color: #4285f4;
}
.sk-double-bounce .sk-child {
  border-radius: 0%;
}
.sk-double-bounce {
  width: 83px;
  height: 83px;
}
.delete_photo:hover {
    background-image: url(http://cynkmal.przedprojekt.com/application/views/images/x-button.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.delete_photo img:hover {
    opacity: 0.4;
}
.cursor {
    cursor: pointer;
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: inline-block;
}
.logged-name {
    vertical-align: top;
    margin-top: 7px;
}
.br-menu-sub .nav-link.active {
    color: white;
}
.br-menu-sub .nav-link.active::before {
    background-color: #fff;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    color: black;
}
.tags_background {
    background-color:#E9ECEF!important;
    color:black!important;
}
.br-menu-link {
    color: #fff;
    display: block;
    font-size: 14px;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}
.br-menu-sub .nav-link {
    font-size: 13px;
    color: #fff;
    padding-top: 7px;
    padding-bottom: 7px;
    white-space: nowrap;
    position: relative;
    transition: all 0.2s ease-in-out;
}
.form-control-inverse {
    border: 0;
    background-color: #4285f4;
    color: black;
}
.navicon-left a:hover, .navicon-left a:focus {
    color: black;
}

.navicon-left a {
    color: black;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}

.navicon-right a {
    color: black;
    font-size: 24px;
}

.br-header-right a {
    color: black;
}
.bg-gray-900 {
    background-color: #4285f4;
}